body{
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/background.png');
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px !important;
}


.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.main-container h1{
    font-size:80px;
}

.main-container h4, .main-container h1{
    margin: 5px 0;
    padding: 0;
}

.btn-container{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.btn-custom{
    padding: 10px 10px;
    margin: 0 10px;
    background-color: inherit;
    border-color: #ff9800;
    color:#ff9800;
    font-size: 16px;
    cursor: pointer;
}

.btn-custom:hover {
    border-color: #fff;
    color: #fff;
  }
  